@import "./../../utilities/variables/colors/colors";
@import "./../../utilities/variables/fonts/fonts";
@import "./../../utilities/intialize-styles/button-styles";

.card-container {
  background-color: $backgroundColor;
  color: $navBarColor;
  font-family: $textFont;
  position: relative;
  width: 20%;

  .card-heading {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }

  .card-body {
    font-size: 1rem;
    max-height: 80%;
    overflow: auto;
    text-align: justify;
  }

  .view-full-card {
    @include button($navBarColor, $backgroundColor);
    margin-bottom: 20px;
    margin-left: 20px;
    width: 50%;
  }
}
