@import "./../../utilities/variables/colors/colors";
@import "./../../utilities/variables/fonts/fonts";

.card-container {
  background-color: $backgroundColor;
  color: $navBarColor;
  font-family: $textFont;
  width: 20%;

  .card-heading {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }

  .card-body {
    font-size: 1.1rem;
    text-align: justify;
  }
}
