.contact-channels {
  color: #e6dedd;
  display: flex;
  flex-direction: column;
  height: inherit;
  list-style: none;
  margin-left: 300px;
  justify-content: space-evenly;
}

.contact-channels a {
  text-decoration: none;
  color: inherit;
}

.contact-channels a:hover {
  color: #c89d2c;
}
