@import "./../../utilities/variables";

.contact-channels{
    color: $backgroundColor;
    list-style: none;
    height: 100%;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
   a{
       text-decoration: none;
       color: inherit;
   }
   a:hover{
       color:$headingColor;
   }
   
}