@import "./../../utilities/variables";

.contact-channels {
  color: $backgroundColor;
  display: flex;
  flex-direction: column;
  height: inherit;
  list-style: none;
  margin-left: 300px;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $headingColor;
    }
  }
}
