.reservation-form .email-field,
.reservation-form .full-name-field {
  background-color: inherit;
  border-color: #1b120f;
  color: #1b120f;
}

.reservation-form .email-field:focus,
.reservation-form .full-name-field:focus {
  box-shadow: 0 0 3px #1b120f;
}

.reservation-form .reservation-button {
  border: #1b120f 1px solid;
  color: #1b120f;
  font-family: inherit;
  margin-top: 10px;
  margin: 10px auto;
  width: 40%;
}

.reservation-form .reservation-button:hover, .reservation-form .reservation-button:active {
  background-color: #1b120f;
  box-shadow: none;
  color: #e6dedd;
  outline: none;
  border: none;
}
