.solid-color {
  background-color: #1b120f;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
}

.logo-cover {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 50%;
}
