@import "./../../utilities/variables/colors/colors";
@import "./../../utilities/variables/fonts/fonts";

.footer {
  bottom: -10px;
  color: $headingColor;
  font-family: $textFont;
  position: fixed;
  text-align: center;
  width: 100%;
}
