@import "./../../utilities/variables/colors/colors";

.item {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 30%;

  .item-counter {
    background-color: inherit;
    border: 1px solid $navBarColor;
    font-weight: bold;
    margin-right: 10px;
    width: 30px;
  }

  .add-item,
  .remove-item {
    background-color: inherit;
    border: 1px solid $navBarColor;
    margin-right: 5px;
    outline: none;
    width: 30px;
  }

  .item-name {
    margin-right: 50px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
