.user-request {
  color: #1b120f;
  font-family: "Montserrat", sans-serif;
  margin: auto 70px;
  width: 50%;
}

.user-request .labels {
  color: #e6dedd;
}

.user-request .email,
.user-request .full-name,
.user-request .title,
.user-request .description {
  background-color: #e6dedd;
  color: inherit;
  font-family: inherit;
}

.user-request .description {
  height: 100px;
  max-height: 150px;
  min-height: 70px;
}

.user-request .email:focus,
.user-request .full-name:focus,
.user-request .title:focus,
.user-request .description:focus {
  border-color: #c89d2c;
  box-shadow: 0 0 3px #c89d2c;
}

.user-request .submit-button {
  border: #c89d2c 1px solid;
  color: #c89d2c;
  font-family: inherit;
  margin-top: 10px;
}

.user-request .submit-button:hover, .user-request .submit-button:active {
  background-color: #c89d2c;
  box-shadow: none;
  color: #1b120f;
  outline: none;
  border: none;
}
