@import "./../../utilities/variables/colors/colors";
@import "./../../utilities/variables/fonts/fonts";
@import "./../../utilities/intialize-styles/button-styles";

.user-request {
  color: $navBarColor;
  font-family: $textFont;
  margin: auto 70px;
  width: 50%;

  .labels {
    color: $backgroundColor;
  }

  .email,
  .full-name,
  .title,
  .description {
    background-color: $backgroundColor;
    color: inherit;
    font-family: inherit;
  }

  .email:focus,
  .full-name:focus,
  .title:focus,
  .description:focus {
    border-color: $headingColor;
    box-shadow: 0 0 3px $headingColor;
  }

  .submit-button {
    @include button($headingColor, $navBarColor);
  }
}
