@import "./../../utilities/variables/colors/colors";
@import "./../../utilities/variables/fonts/fonts";

.user-request {
  color: $navBarColor;
  font-family: $textFont;
  margin: auto 70px;
  width: 50%;

  .labels {
    color: $backgroundColor;
  }

  .email,
  .full-name,
  .title,
  .description {
    background-color: $backgroundColor;
    color: inherit;
    font-family: inherit;
  }

  .email:focus,
  .full-name:focus,
  .title:focus,
  .description:focus {
    border-color: $headingColor;
    box-shadow: 0 0 3px $headingColor;
  }

  .submit-button {
    border: $headingColor 1px solid;
    color: $headingColor;
    font-family: inherit;
    margin-top: 10px;

    &:hover,
    &:active {
      background-color: $headingColor;
      box-shadow: none;
      color: $navBarColor;
      outline: none;
    }
  }
}
